.cta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    }
    button{
        padding: 10px;
        width: 100px;
        background: transparent;
        border-radius: 10px;
        border: none;
        cursor: pointer;
    
    }
    .register{
        border: 2px solid black;
    }
    @media screen and (max-width: 960px) {
        .cta{
            display: none;
        }
        
        }
        
        