
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: hsl(0, 0%, 98%);
}
li,p,button{
  color: hsl(0, 0%, 41%);

}
img{
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  body{
    background-color: #fff;

  }

}
